@import 'bulma';

// body {
  // font-size: 62.5%;
// }

input {
  width: 40%;
  padding: 10px;
  margin-left: 10px;
}

button {
  width: 33%;
  margin-left: 5%;
  height: 25px;
  border-radius: 10px;
}


.container {
  width: 500px;
  margin: 0 auto;
}

.addContact {
  padding: 25px;
  border: 3px solid;
  border-radius: 15px;
  margin-top: 15px;
}

.delete {
  display: none;
}

.picture {
  // float: left;
  margin-right: 10px;
}
.contact {
  // margin-left: 25px;
  margin: 10px;
  // margin-top: 5px;
}

.details {
  margin-left: 10px;
}

.picture img {
  clear: both;
}